<content-header current-page-state="vm.currentPageState"></content-header>

<div class="container-fluid">
  <div class="box">
    <div class="heading">
      <a href back-button class="btn btn-info"><span class="glyphicon glyphicon-menu-left"></span>Back</a>
    </div>
    <div class="body">
      <form name="form" ng-submit="vm.addDevice()" role="form" autocomplete="off" novalidate>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              Device Name *
              <input type="text" name="deviceName" class="form-control"
                     ng-model="vm.payload.deviceName" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              MAC Address *
              <input type="text" name="macId" class="form-control"
                     ng-model="vm.payload.macAddress" required>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              Irradiation Sensor Installed?
              <div flex-xs flex="50">
                <md-checkbox ng-model="vm.payload.irradiationSensorInstalled" aria-label="Irradiation Sensor Installed?">
                  <span ng-show="vm.payload.irradiationSensorInstalled">Yes</span>
                  <span ng-hide="vm.payload.irradiationSensorInstalled">No</span>
                </md-checkbox>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <div class="form-group">
                Use  for Energy Calculation?


                <select class="form-control" ng-model="vm.payload.useForEnergyCalculation">
                  <option ng-repeat="item in vm.energyCalculationCriteria" value="{{item.value}}">{{item.name}}</option>

                </select>
              </div>
            </div>
          </div>
        </div>

        <label>Inverters</label>

        <div class="inner-box"
             ng-repeat="i in [].constructor(vm.noOfInverters) track by  $index"
             ng-init="vm.payload.inverters[$index] = {};">

          <h4 class="text-right" ng-if="vm.noOfInverters > 1"><a href="javascript:void(0)" ng-click="vm.removeInverter($index)">Remove</a></h4>

          <ng-form name="inverterForm">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  Make *
                  <input type="text" name="make" class="form-control"
                         ng-model="vm.payload.inverters[$index].make" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  Model *
                  <input type="text" name="model" class="form-control"
                         ng-model="vm.payload.inverters[$index].model" required>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  Capacity (kW) *
                  <input type="number" name="capacity" class="form-control"
                         ng-model="vm.payload.inverters[$index].capacity" required>
                </div>
              </div>

              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  Serial Number *
                  <input type="text" name="serialNumber" class="form-control"
                         ng-model="vm.payload.inverters[$index].serialNumber" required>
                </div>
              </div>
            </div>

            <label>Number of Modules </label>

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  MPPT1 *
                  <input type="number" name="MPPT1" class="form-control"
                         ng-model="vm.payload.inverters[$index].MPPT1" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  MPPT2 *
                  <input type="number" name="MPPT2" class="form-control"
                         ng-model="vm.payload.inverters[$index].MPPT2" required>
                </div>
              </div>
            </div>
          </ng-form>
        </div>
        <div class="form-group">
          <a href="javascript:void(0)"
             ng-click="vm.noOfInverters=vm.noOfInverters + 1"
             class="btn btn-info center-block">Add Another Inverter &nbsp;<span class="fa fa-plus"></span></a>
        </div>

        <label>Meters</label>

        <div class="inner-box"
             ng-repeat="m in [].constructor(vm.noOfMeters) track by $index"
             ng-init="vm.payload.meters[$index] = {};">

          <h4 class="text-right" ng-if="vm.noOfMeters > 1"><a href="javascript:void(0)" ng-click="vm.removeMeter($index)">Remove</a></h4>

          <ng-form name="meterForm">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  Make *
                  <input type="text" name="make" class="form-control"
                         ng-model="vm.payload.meters[$index].make" required>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  Model *
                  <input type="number" name="model" class="form-control"
                         ng-model="vm.payload.meters[$index].model" required>
                </div>
              </div>
            </div>
          </ng-form>
        </div>
        <div class="form-group">
          <a href="javascript:void(0)"
             ng-click="vm.noOfMeters=vm.noOfMeters + 1"
             class="btn btn-info center-block">Add Another Meter &nbsp;<span class="fa fa-plus"></span></a>
        </div>

        <br>

        <div class="btn-group my-btn">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary center-block">
            <span ng-hide="vm.dataLoading">Save</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

