<content-header current-page-state="vm.currentPageState"></content-header>

<div class="container-fluid show-plant">
  <div class="box" style="max-width: inherit;">
    <div class="heading">
      <div class="row">
        <div class="col-xs-9">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" data-target="#details" ng-click="vm.chartConfig = null;">Plant
              Details</a></li>
            <li><a data-toggle="tab" data-target="#live-data" ng-click="vm.chartConfig = null;">Live Data</a></li>
            <li><a data-toggle="tab" data-target="#graphs" ng-click="vm.drawChart();">Graphs</a></li>
            <li ng-if="vm.userType == 2"><a data-toggle="tab" data-target="#remote-shutdown" ng-click="vm.remoteShutDownData();">Remote
              ShutDown</a></li>
            <li><a data-toggle="tab" data-target="#raw-data">Raw Data</a></li>
          </ul>
        </div>
        <div class="col-xs-3">
          <div class="pull-right">

            <a class="btn btn-warning" ng-if="vm.permissions.editPlants" ui-sref="app.editPlant({id: vm.data._id})"><i
              class="fa fa-edit"></i> Edit</a>
            <button class="btn btn-danger" ng-if="vm.permissions.deletePlants"
                    ng-click="vm.delete('/powerPlants/'+vm.data._id)"><i class="fa fa-trash-o"></i> Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="tab-content">
        <div id="details" class="tab-pane fade in active">
          <div class="row">

            <!-- Table for plant core details -->
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">Plant Details</div>
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr>
                      <td>Name</td>
                      <td>{{vm.data.plantName || '--'}}</td>
                    </tr>
                    <tr>
                      <td>Capacity</td>
                      <td>{{vm.data.plantCapacity || '--'}}</td>
                    </tr>

                    <tr>
                      <td>Commissioning Date</td>
                      <td>{{vm.data.commissioningDate | date:'dd MMM yyyy'}}</td>
                    </tr>
                    <tr>
                      <td>Data Logging Date</td>
                      <td>{{vm.data.dataLoggingDate | date:'dd MMM yyyy'}}</td>
                    </tr>

                    <tr>
                      <td>Panel Make</td>
                      <td>{{vm.data.panelMake || '--'}}</td>
                    </tr>
                    <tr>
                      <td>Panel Model</td>
                      <td>{{vm.data.panelModel || '--'}}</td>
                    </tr>

                    <tr>
                      <td>Site Incharge - Internal</td>
                      <td>{{vm.data.siteInchargeInternal || '--'}}</td>
                    </tr>
                    <tr>
                      <td>Generation Guaranteed</td>
                      <td>{{vm.data.generationGuaranteed || '--'}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Table for plant location details -->
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">Location</div>
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr>
                      <td>Line 1</td>
                      <td>{{vm.data.addressLineOne || '--'}}</td>
                    </tr>
                    <tr>
                      <td>Line 2</td>
                      <td>{{vm.data.addressLineTwo || '--'}}</td>
                    </tr>

                    <tr>
                      <td>City</td>
                      <td>{{vm.data.city || '--'}}</td>
                    </tr>
                    <tr>
                      <td>State</td>
                      <td>{{vm.data.state || '--'}}</td>
                    </tr>

                    <tr>
                      <td>Pincode</td>
                      <td>{{vm.data.pincode || '--'}}</td>
                    </tr>

                    <tr class="sub-heading">
                      <td>Coordinates</td>
                      <td></td>
                    </tr>

                    <tr>
                      <td>Latitude</td>
                      <td>{{vm.data.location[0] || '--'}}</td>
                    </tr>
                    <tr>
                      <td>Longitude</td>
                      <td>{{vm.data.location[1] || '--'}}</td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Table for Contact Person details -->
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">Client Contact Person</div>
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr>
                      <td>Name</td>
                      <td>{{vm.data.contactPersonName || '--'}}</td>
                    </tr>
                    <tr>
                      <td>Designation</td>
                      <td>{{vm.data.contactPersonDesignation || '--'}}</td>
                    </tr>

                    <tr>
                      <td>Contact Number 1</td>
                      <td>{{vm.data.contactPersonNumberOne || '--'}}</td>
                    </tr>
                    <tr>
                      <td>Contact Number 2</td>
                      <td>{{vm.data.contactPersonNumberTwo || '--'}}</td>
                    </tr>

                    <tr>
                      <td>Email</td>
                      <td>{{vm.data.contactPersonEmail || '--'}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <!-- Panels with inverters data goes here -->
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-5">
                      Panels
                    </div>
                    <div class="col-xs-4">
                      MPPT1
                    </div>
                    <div class="col-xs-3">
                      MPPT2
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr ng-repeat="inverter in vm.inverters track by $index">
                      <td>Inverter{{$index+1}}</td>
                      <td>{{inverter.MPPT1}}</td>
                      <td>{{inverter.MPPT2}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div id="live-data" class="tab-pane fade">
          <div class="row">
            <!-- Energy Meter now -->
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">
                  Energy Meter now
                </div>
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr ng-repeat="meter in vm.meters track by $index">
                      <td>Meter{{$index+1}}</td>
                      <td>{{meter.value}} kWh</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Statistics Today -->
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">
                  Statistics Today
                </div>
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr ng-repeat="stat in vm.data.slideDown.stat track by $index">
                      <td>{{stat.key}}</td>
                      <td>{{stat.value}} kWh</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Energy Today / Power Now -->
            <div class="col-xs-12 col-md-4">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-6 text-right">
                      Energy Today
                    </div>
                    <div class="col-xs-4 text-center" style="padding: 0">
                      Power Now
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <table>
                    <tbody>
                    <tr ng-repeat="inverter in vm.liveInverters track by $index">
                      <td>{{inverter.field}}</td>
                      <td>{{inverter.energyToday}}</td>
                      <td>{{inverter.powerNow}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="graphs" class="tab-pane fade">
          <div class="row">
            <div class="col-xs-12">
              <div class="filter-wrapper">
                <button class="btn btn-success" ng-click="vm.incDecEnergyDate('-')"
                        style="border-bottom-right-radius: 0; border-top-right-radius: 0;"
                        ng-disabled="vm.type=='lifetime'"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button class="btn btn-success" ng-click="vm.incDecEnergyDate('+')"
                        style="border-bottom-left-radius: 0; border-top-left-radius: 0;"
                        ng-disabled="vm.type=='lifetime'"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <div class="input-group">
                  <input type="text" ng-change="vm.date1Change()" uib-datepicker-popup="{{vm.format1}}"
                         is-open="vm.popup1.opened" datepicker-options="vm.dateOptions1" close-text="Close"
                         class="form-control" placeholder="MMMM yyyy" ng-model="vm.date1"
                         aria-describedby="basic-addon1" ng-disabled="vm.type=='lifetime'"/>
                  <span class="input-group-addon" id="basic-addon1" ng-click="vm.open1();"><i
                    class="fa fa-calendar"></i></span>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success" ng-click="vm.setGraphType('month')"
                        style="border-bottom-right-radius: 0; border-top-right-radius: 0;">Month
                </button>
                <button class="btn btn-warning" ng-click="vm.setGraphType('year')" style="border-radius: 0;">Year
                </button>
                <button class="btn btn-danger" ng-click="vm.setGraphType('lifetime')"
                        style="border-bottom-left-radius: 0; border-top-left-radius: 0;">Lifetime
                </button>

              </div>
            </div>
          </div>

          <br>

          <div class="row" style="height: 400px;">
            <highchart id="chart1" config="vm.chartConfig1" class="span10 col-xs-12"
                       ng-if="vm.chartConfig1"></highchart>
          </div>
          <!--- GRID DEVICE -->
          <!--<div class="row" style="height: 400px;">-->
            <!--<highchart id="chart3" config="vm.chartConfig3" class="span10 col-xs-12"-->
                       <!--ng-if="vm.chartConfig3"></highchart>-->
          <!--</div>-->
         <!--&lt;!&ndash; END GRID DEVICE &ndash;&gt;-->
          <hr/>

          <br>
          <div class="row">
            <div class="col-xs-12">
              <div class="filter-wrapper" style="margin: 0 auto; display: block; max-width: 400px;">
                <div class="row">
                  <div class="col-xs-3">
                    <button class="btn btn-success" ng-click="vm.incDecInvDate('-')"
                            style="border-bottom-right-radius: 0; border-top-right-radius: 0;"><i
                      class="fa fa-chevron-left" aria-hidden="true"></i></button>
                    <button class="btn btn-success" ng-click="vm.incDecInvDate('+')"
                            style="border-bottom-left-radius: 0; border-top-left-radius: 0;margin-left: -4px;"><i
                      class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  </div>

                  <div class="col-xs-9">
                    <div class="input-group">
                      <input type="text" ng-change="vm.date2Change()" uib-datepicker-popup="{{vm.format2}}"
                             is-open="vm.popup2.opened" datepicker-options="vm.dateOptions2" close-text="Close"
                             class="form-control" placeholder="dd MMMM yyyy" ng-model="vm.date2"
                             aria-describedby="basic-addon2"/>
                      <span class="input-group-addon" id="basic-addon2" ng-click="vm.open2();"><i
                        class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row" style="height: 400px; overflow-x: scroll;">
            <highchart id="chart2" config="vm.chartConfig2" class="span10 col-xs-12"
                       ng-if="vm.chartConfig2"></highchart>
          </div>

        </div>

        <div id="remote-shutdown" class="tab-pane fade">
          <div class="row">
            <!-- Energy Meter now -->
            <div class="col-xs-12 col-md-9">
              <div class="panel panel-info">
                <div class="panel-body">
                  <table>
                    <thead>
                    <th class="panel-heading"></th>
                    <th class="panel-heading"></th>
                    <th class="panel-heading">Capacity (kW)</th>
                    <th class="panel-heading">Power (kW)</th>
                    <th class="panel-heading">Comms Error</th>
                    <th class="panel-heading">Reduce To Capacity (%)</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in vm.remoteShutData track by $index">
                      <td><input ng-if='data.isLoaded' type="checkbox" ng-model="data.checked" ng-change="vm.set(data)">
                      </td>
                      <td>Inverter{{$index+1}}</td>
                      <td>{{data.capacity}}</td>
                      <td>{{data.power}}</td>
                      <td><i class="fa fa-circle" ng-style="data.commsError ? {'color':'red'} : {'color': 'green'}"
                             aria-hidden="true"></i></td>
                      <td><input type="text" ng-model="data.value" ng-if='data.isLoaded' class="pull-left"
                                 style="width:50px">
                        <img class="pull-left" ng-if='!data.isLoaded' src="/images/loader.gif" style="width:30px;">
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td colspan='6' valign="bottom" align="right">
                        <button ng-disabled="!vm.checked" class="btn btn-warning" ng-click="vm.askPassword(data)">
                          <span ng-hide="vm.obj.isProcessing">Apply</span>
                          <span ng-show="vm.obj.isProcessing"><img src="/images/loader.gif"/></span>
                        </button>
                      </td>
                    </tr>
                    </tfoot>

                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div id="raw-data" class="tab-pane fade">
          <div class="row">
            <div class="col-xs-12">
              <div class="filter-wrapper">
                <button class="btn btn-success" ng-click="vm.incDecRawDate('-')"
                        style="border-bottom-right-radius: 0; border-top-right-radius: 0;"><i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <button class="btn btn-success" ng-click="vm.incDecRawDate('+')"
                        style="border-bottom-left-radius: 0; border-top-left-radius: 0;"><i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <div class="input-group">
                  <input type="text" ng-change="vm.date3Change()" uib-datepicker-popup="{{vm.format3}}"
                         is-open="vm.popup3.opened" datepicker-options="vm.dateOptions3" close-text="Close"
                         class="form-control" placeholder="MMMM yyyy" ng-model="vm.date3"
                         aria-describedby="basic-addon4"/>
                  <span class="input-group-addon" id="basic-addon4" ng-click="vm.open3();"><i
                    class="fa fa-calendar"></i></span>
                </div>
                <button class="btn btn-success" style='margin-left:10px;' ng-click="vm.getRawData()">
                  <span ng-hide="vm.isProcessing">Submit</span>
                  <span ng-show="vm.isProcessing"><img src="/images/loader.gif"/></span>
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

