<!--<content-header current-page-state="vm.currentPageState"></content-header>-->
<div class="container-fluid">


  <!-- Data-table goes here-->
  <div class="data-table">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default table-panel">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-4">
                <div class="row">
                  <div class="col-xs-4">
                    <label> Enter Date:</label>
                  </div>
                  <div class="col-xs-8">
                    <input type="text" uib-datepicker-popup="{{vm.format}}"
                           is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" close-text="Close"
                           ng-focus="vm.open1()"
                           class="form-control" placeholder="dd MMMM yyyy" ng-model="vm.date"/>
                  </div>
                </div>
              </div>
              <div class="col-xs-5">
                <button class="btn btn-success" ng-click="vm.refresh()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refresh</button>
              </div>
              <div class="col-xs-3">
                <input  class='form-control pull-right' placeholder="Search .." type="text" id="search">
              </div>
            </div>
          </div>

          <div class="panel-body table-responsive">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"
                   class="row-border hover">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
