<content-header current-page-state="vm.currentPageState"></content-header>

<div class="container-fluid">
  <div class="box">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="javascript:void(0)" data-target="#profile">UPDATE PROFILE</a></li>
      <li><a data-toggle="tab" href="javascript:void(0)" data-target="#password">UPDATE PASSWORD</a></li>
    </ul>

    <br>

    <div class="tab-content">
      <div id="profile" class="tab-pane fade in active">
        <form name="form" ng-submit="vm.editProfile()" role="form" autocomplete="off" novalidate>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                Name
                <input type="text" name="name" class="form-control" ng-model="vm.data.fullName"
                       placeholder="Name" required>
              </div>
            </div>

            <div class="col-xs-4">
              <div class="form-group">
                Company
                <input type="text" name="company" class="form-control" ng-model="vm.data.company" placeholder="Company" required>
              </div>
            </div>

            <div class="col-xs-4">
              <div class="form-group">
                Designation
                <input type="text" name="designation" class="form-control" ng-model="vm.data.designation" placeholder="Designation"
                       required>
              </div>
            </div>

            <div class="col-xs-4">
              <div class="form-group">
                Email
                <input type="email" name="email" class="form-control" ng-model="vm.data.email"
                       placeholder="Email" required>
              </div>
            </div>

          <div class="col-xs-4">
            <div class="form-group">
              Phone Number
              <input type="text" name="phone" class="form-control" ng-model="vm.data.phone" placeholder="Phone" required>
            </div>
          </div>
         </div>

          <div class="btn-group my-btn">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
              <span ng-hide="vm.dataLoading">Update</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
            </button>
          </div>

        </form>
      </div>

      <div id="password" class="tab-pane fade">
        <form name="form" ng-submit="vm.changePassword()" role="form" autocomplete="off" novalidate>
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                Old Password
                <input type="password" name="oldPassword" class="form-control" ng-model="vm.password" placeholder="Enter Old Password"
                       required>
              </div>
            </div>

            <div class="col-xs-4">
              <div class="form-group">
                New Password
                <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="vm.newPassword"
                       placeholder="Enter New Password" required>
              </div>
            </div>

            <div class="col-xs-4">
              <div class="form-group">
                Retype Password
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" ng-model="vm.confirmNewPassword" placeholder="Retype Password"
                       required pw-check="newPassword">
              </div>
            </div>
          </div>

          <div class="btn-group my-btn">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
              <span ng-hide="vm.dataLoading">Update</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
