<div class="container">
  <div class="accounts register">
    <div class="heading">
      <img src="images/logo.jpg">
      <h1>Create Account</h1>
    </div>
    <div class="body">
      <form name="form" ng-submit="vm.register()" role="form" autocomplete="off" novalidate>
        <div class="form-group">
          <input type="text" name="name" class="form-control" ng-model="vm.user.fullName" placeholder="Name *" required>
        </div>
        <div class="form-group">
          <input type="text" name="company" class="form-control" ng-model="vm.user.company" placeholder="Company *" required>
        </div>
        <div class="form-group">
          <input type="text" name="designation" class="form-control" ng-model="vm.user.designation" placeholder="Designation *" required>
        </div>
        <div class="form-group">
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email *" required>
        </div>
        <div class="form-group">
          <input type="text" name="phone" class="form-control" ng-model="vm.user.phone" placeholder="Phone *" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" ng-model="vm.user.password" placeholder="Password *" required/>
        </div>
        <div class="btn-group my-btn">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
           <span ng-hide="vm.dataLoading">Sign up</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
          </button>
        </div>
      </form>
    </div>
    <div class="footer">
      <p class="text-center"><a ui-sref="^.login">Sign in</a></p>
    </div>
  </div>
</div>

