<left-sidebar-directive admin="main.admin"></left-sidebar-directive>
<section class="main-content">
  <custom-header project-name = "main.projectName" logout="main.logout()"></custom-header>
  <div ui-view class="ui-view-content"></div>
</section>
