<content-header current-page-state="vm.currentPageState"></content-header>

<div class="container-fluid">
  <div class="box">
    <div class="heading">
      <a href back-button class="btn btn-info"><span class="glyphicon glyphicon-menu-left"></span>Back</a>
    </div>
    <div class="body">
      <form name="form" ng-submit="vm.confirm()" role="form" autocomplete="off" novalidate>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              Name
              <input type="text" name="name" class="form-control" ng-model="vm.data.fullName"
                     placeholder="Name" required>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              Company
              <input type="text" name="company" class="form-control" ng-model="vm.data.company" placeholder="Company"
                     required>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              Designation
              <input type="text" name="designation" class="form-control" ng-model="vm.data.designation"
                     placeholder="Designation"
                     required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              Email
              <input type="email" name="email" class="form-control" ng-model="vm.data.email"
                     placeholder="Email" disabled >
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-group">
              Phone Number
              <input type="text" name="phone" class="form-control" ng-model="vm.data.phone" placeholder="Phone"
                     required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
             <label>Permissions</label>
           </div>
        </div>

        <div class="row">
          <div class="col-md-4" ng-repeat="(key,value) in vm.data.permissions">
            <md-switch ng-model="vm.data.permissions[key]" aria-label="{{key}}"> {{key | capsStrToSpace}} </md-switch>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label>Plants</label>
            <md-checkbox ng-model="vm.selectAllFlag"  class='pull-right'  ng-change="vm.selectAll()">
              Select All
            </md-checkbox>
            <br/><br/>
            <div class="col-md-3" ng-repeat="data in vm.plants">
              <md-checkbox   ng-click="vm.toggle(data._id)" ng-checked="vm.selectAllFlag || vm.isExists(data._id)">
                {{data.plantName}}
              </md-checkbox>
            </div>


            <!--<ui-select multiple ng-model="vm.data.plants" theme="bootstrap" ng-disabled="vm.disabled" title="Choose a plant" >-->
              <!--<ui-select-match placeholder="Choose plants">{{$item}} </ui-select-match>-->
              <!--<ui-select-choices repeat="obj in vm.plants  | filter: $select.search "-->
                                 <!--refresh-delay="0"  position='auto'>-->

                <!--<span ng-bind-html="obj | highlight: $select.search"></span>-->

              <!--</ui-select-choices>-->
            <!--</ui-select>-->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="btn-group my-btn m-t-20">
              <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
                <span ng-hide="vm.dataLoading">Update</span> <img ng-show="vm.dataLoading" src="images/loader.gif"/>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
