<!--<content-header current-page-state="vm.currentPageState"></content-header>-->
<div class="container-fluid">
  <!-- Data-table goes here-->
  <div class="data-table" style="margin-top:20px;">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default table-panel">
          <div class="panel-heading">
            <h4>User Information</h4>
          </div>

          <div class="panel-body table-responsive">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance"
                   class="row-border hover">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

