html {
  -webkit-font-smoothing: antialiased;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body, html {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: $primary-text;
  min-height: 100%;
  height: 100%;
  background-color: $secondary-color;
}
body {
  height: auto;
}
hr {
  border-color: $divider-color;
}
.no-top-mar {
  margin-top: 0 !important;
}
.no-btm-mar {
  margin-bottom: 0 !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.box {
  max-width: 920px;
  padding: 25px;
  margin: 0 auto;
  @include border-radius(4px);
  background-color: $color;
  border: 1px solid $border-color;

  .form-group{

    .btn.center-block {
      height: 38px;
      width: 220px;
    }
  }

}
.inner-box {
  margin: 20px auto;
  padding: 15px 25px;
  border: 1px solid $divider-color;
  border-radius: 4px;

  background: $secondary-color;

  h4 {
    a {
      font-family: Raleway-Medium, sans-serif;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.uib-datepicker, .uib-daypicker {
  outline: none !important;
}

.font-12{
  font-size:12px;
}

//.highcharts-container{
//  overflow: visible !important;
//}
.highcharts-tooltip{
  //position: static !important;
}
.myChartTooltip {
  position: absolute;
  z-index: 50;
  border:2px solid rgb(124, 181, 236);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
  font-size: 9pt;
  overflow: auto;
  max-height: 70vh;
}

