.dashboard-page {
  margin-top:21px;
  .bg-primary {
    background-color: #5d9cec;
    color: #ffffff !important;
  }

  .bg-primary-dark {
    background-color: #2f80e7;
    color: #ffffff !important;
  }

  .bg-blue {
    background-color: #00bbe6;
    color: #ffffff !important;
  }

  .bg-blue-dark {
    background-color: #00a4ce;
    color: #ffffff !important;
  }

  .bg-green-dark {
    background-color: #2b957a;
    color: #fff!important;
  }
  .bg-green {
    background-color: #37bc9b;
    color: #fff!important;
  }

  .row-table {
    margin-left: 0;
    > [class*="col-"] {
      display: table-cell;
      float: none;
      table-layout: fixed;
      vertical-align: middle;
    }
  }

  .statistics {
    .info {
      h2 {
        margin-top: 0;
      }
      width: 100%;
      padding: 15px;
      p {
        font-family: Raleway-SemiBold, sans-serif;
      }
    }
  }
}
