header {
  margin-bottom: 50px;
  .navbar-default {
    background-color: $accent-color;

    .navbar-nav {
      > li > a {
        color: $text;
        font-family: Raleway-Medium, sans-serif;
        &:hover {
          color: $text;
        }
      }

      .open {
        > {
          a, a:hover, a:focus {
            background-color: $dark-accent-color;
            color: $text;
          }
        }
      }
    }

  }
}
