.home-page {
  font-family: Raleway-Regular, sans-serif;
  background: $accent-color; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $accent-color, $primary-color); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,  $accent-color, $primary-color); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,  $accent-color, $primary-color); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  $accent-color, $primary-color); /* Standard syntax */

  .accounts {
    max-width: 420px;
    margin: 100px auto;
    background: $color;
    padding: 20px;
    border-radius: 4px;

    .heading {
      text-align: center;
      margin-bottom: 20px;
      font-family: Museo500-Regular, sans-serif;
      img {
        max-width: 140px;
      }
    }
    .body {
      .btn-group {
        width: 100%;
        .btn {
          width: inherit;
        }
      }
    }
    .footer {
      margin-top: 20px;
    }

    &.register {
      margin-top: 25px;
    }
  }

}


