.form-control {
  font-size: 16px;
  color: $primary-text;
  @include border-radius(2px);
  @include box-shadow(none !important);

  &:hover,&:focus {
    border-color: $accent-color;
  }
}

.accounts {
  .form-control {
    font-size: 18px;
    height: 48px;
  }
}
