.plant-page {
  .box{
    .heading {
      margin-bottom: 30px;
    }
    .form-control {
      height: 38px;
    }
  }
  label {
    font-size: 22px;
    font-family: Raleway-Light, sans-serif;
    margin-top: 15px;
  }
  md-checkbox {
    margin-top: 10px;
  }
  .btn-group.my-btn {
    width: 100%;
    .btn{
      margin: 0 auto;
      width: 120px;
      float: none;
    }
  }

  .show-plant {
    .panel-heading {
      font-family: Museo500-Regular, sans-serif;
    }
    .panel-body {
      padding: 0;

      tr td{
        padding: 3.5px 15px;
      }
    }
    table {
      width: 100%;
    }
    tr {
      background: #f5f7fa;
      border-bottom: 5px solid $text;
      td {
        &:first-child {
          color: $link-text;
          font-weight: 300;
          font-family: Museo500-Regular, sans-serif;
          font-size: 13px;
        }
        &:last-child {
          text-align: right;
        }
      }
    }

    thead .panel-heading {
      font-weight: 400;
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }

    tr.sub-heading {
      background-color: #d9edf7;
      border-color: #bce8f1;
      border-bottom: 5px solid #FFF;
      td {
        color: #31708f;
      }
    }

    .nav-tabs {
      background: #f5f7fa;
      //max-width: 600px;
      > li {
        //width: 25%;
        text-align: center;
        a {
          border-radius: 2px;
          margin-right: 0;
          cursor: pointer;
          font-family: Museo500-Regular, sans-serif;
        }

        &:not(:last-child):not(.active) {
          border-right: 1px solid #ddd;
        }
        &.active:not(:first-child) a{
          border-left: 0;
        }
      }
    }

  }

  .filter-wrapper {
    margin-left: 200px;
    display: inline-flex;

    .input-group {
      max-width: 250px;

      .input-group-addon {
        background-color: transparent;
        outline: none !important;
      }
    }
  }
}
