.profile {

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: $primary-text;
  }

  .form-control {
    height: 38px;
  }

  .btn-primary {
    height: auto;
    min-width: 120px;
  }

  .body {
    margin-top: 25px;

    md-switch .md-label {
      text-transform: capitalize;
    }
  }
}

