.sidebar {
  position : fixed;
  width: 200px;
  top : 0;
  left : -200px;
  z-index: 100;
  transition : 100ms left;
  background-color : #fff;
  min-height: 100%;
  border-right: 1px solid $divider-color;

  #navigation-toggle {
    position : absolute;
    left : 200px;
    top: 14px;
    color : white;
    text-decoration : none;
    padding: 3px 7px;
  }

  .heading {
    .img-responsive {
      width: 120px;
      margin: auto;
    }
  }

  .nav {
    font-family: Museo500-Regular, sans-serif;
    li {
      border-left: 3px solid transparent;
      @include transition(border-left-color 0.4s ease);

      a {
        color: $primary-text;
        cursor: pointer;
        padding: 12px 20px;
        letter-spacing: .025em;

        .fa {
          padding-right: 10px;
          width: 24px;
        }

        &:hover {
          background-color: transparent;
          color: $accent-text;
        }
      }


      .sub-menu {
        li {
          border-left: 0;
        }
        a {
          padding-left: 44px;
        }
        li.active {
          a {
            color: $accent-text;
            border-right: 3px solid $accent-text;
          }
        }
      }

      &.active {
        border-color: $accent-color;
       > a {
          color: $accent-text;
        }
        a {
          background-color: $secondary-color;
        }
      }
    }
  }

}
.main-content{
  position: absolute;
  left : 0;
  right: 0;
  z-index: 99;
  transition : 100ms left;

  > div > h3 {
    font-family: Museo500-Regular, sans-serif;
    line-height: 1.1;
    margin-top: 0;
    padding: 15px;
    margin-bottom: 21px;
    font-size: 24px;
    color: $primary-text;
    background-color: #fafbfc;
    border-bottom: 1px solid $border-color;
    > small {
      display: block;
      font-size: 12px;
      color: $primary-text;
    }

  }
}

.ui-view-content{
   @media screen and (max-width: 800px) {
     min-width:1100px
  }
}



.sidebar.show + .main-content{
  left: 200px;
}
.show {
  left : 0;
}
