<div class="dialog-contents">
  <p class="text-danger">{{vm.message.preText}}<b>{{vm.message.midText}}</b>{{vm.message.postText}}</p>

  <p ng-if="vm.isProcessing" class="text-center"><img style="width: 56px;" src="images/loader.gif"/></p>
  <button ng-disabled="vm.isProcessing" class="btn btn-primary" ng-click="closeThisDialog()">Cancel</button>
  <button ng-disabled="vm.isProcessing" class="btn btn-warning" ng-click="vm.updateConfirm()">Confirm</button>
</div>
